<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
  -->
  <connectionStrings>
    <add name="stacktagzEntities"
      connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=server;Initial Catalog=staging;User Id=user; Password=password;MultipleActiveResultSets=True&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender"  xdt:Locator="Match(name)">
      <bufferSize value="1" xdt:Transform="SetAttributes"/>
      <connectionString value="data source=server;initial catalog=staging;integrated security=false;persist security info=True;User Id=user;Password=password" 
       xdt:Transform="SetAttributes"/>
    </appender>
  </log4net>
  
      <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug,assemblyPostProcessorType)" />
        
        <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <handlers>
      <add xdt:Transform="RemoveAll"/>
    </handlers>
  </system.webServer>

</configuration>