USE [master]
GO
/****** Object:  Database [stacktagz]    Script Date: 12/22/2010 23:08:07 ******/
DROP DATABASE [stacktagz] 
GO
CREATE DATABASE [stacktagz] 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [stacktagz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [stacktagz]
GO

/****** Object:  Table [dbo].[Question]    Script Date: 12/22/2010 23:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Site] [nvarchar](400) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[TagsList] [nvarchar](1024) NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SiteQuestionId] ON [dbo].[Question] 
(
	[Site] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 12/22/2010 23:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Thread] [varchar](255) NOT NULL,
	[Level] [varchar](50) NOT NULL,
	[Logger] [varchar](255) NOT NULL,
	[Message] [varchar](4000) NOT NULL,
	[Exception] [varchar](2000) NULL,
	[IPAddress] [varchar](64) NULL,
	[Referrer] [varchar](2000) NULL,
	[Url] [varchar](2000) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TSResult]    Script Date: 12/22/2010 23:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSResult](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Site] [nvarchar](400) NOT NULL,
	[UserId] [int] NOT NULL,
	[LastFetched] [datetime] NOT NULL,
	[Rollup] [int] NOT NULL,
	[AnswerRequests] [int] NOT NULL,
	[QuestionRequests] [int] NOT NULL,
	[CommentsRequests] [int] NOT NULL,
	[VoteRequests] [int] NOT NULL,
 CONSTRAINT [PK_TSResult] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserSite] ON [dbo].[TSResult] 
(
	[Site] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TSPeriod]    Script Date: 12/22/2010 23:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSPeriod](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TSResultId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[tag] [nvarchar](50) NOT NULL,
	[AnswerCount] [int] NOT NULL,
	[QuestionCount] [int] NOT NULL,
	[CommentCount] [int] NOT NULL,
	[VoteCount] [int] NOT NULL,
 CONSTRAINT [PK_TSPeriod_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TSResultId] ON [dbo].[TSPeriod] 
(
	[TSResultId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_TSPeriod_TSResult]    Script Date: 12/22/2010 23:08:13 ******/
ALTER TABLE [dbo].[TSPeriod]  WITH CHECK ADD  CONSTRAINT [FK_TSPeriod_TSResult] FOREIGN KEY([TSResultId])
REFERENCES [dbo].[TSResult] ([Id])
GO
ALTER TABLE [dbo].[TSPeriod] CHECK CONSTRAINT [FK_TSPeriod_TSResult]
GO
